.logo {
	margin-top: 5px;
}
.logoOffset {
	margin-left: 30px;
}

.homepanel {
  background-size: 100% 100%;
  background-image: url("../images/indo/logo.png");
  background-repeat: none;
  
}

.x-panel > img {
  opacity: 0.5;
}